html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;vertical-align:baseline;background:transparent;margin:0;padding:0;}
*:focus{outline:none;}
body{font-family:Tahoma;font-size:12px;color:#2C2C29;background:black url(http://exodusviewer.com/images/bg.png);}
p{padding:2px;margin:1px 0 15px;}
a{color:#807D7A;}
a:hover{color:#B3AFAD;}
h2{border-bottom:1px solid #DCDCDB;letter-spacing:-1px;font-size:24px;padding-bottom:3px;font-weight:400;margin:10px 0 10px 0;font-family:Helvetica, Georgia;}
hr{color:#DCDCDB;background-color:#DCDCDB;height:1px;border:0px;}
ul, ol{margin:15px 30px;font-size: 12px;padding-bottom:4px;}
ul li{list-style-type:disc;margin-bottom:2px;margin-left:0;}
#top_cufon {background: url(top.png) no-repeat center;cursor:pointer;display:margin:0 auto;min-height:87px;}
#content{width:503px;background:white;padding:2px 25px 20px 20px;margin:-10px auto;height:100%;}
.changelog{margin:0;}
.changelog li{margin-bottom:0px;font-weight:bold;}
.changelog ul li span{color:#2C2C29;font-weight:normal;}
.changelog li.bug,.bug2{color:red;}
.changelog li.merge,.merge2{color:#153E7E;}
.changelog li.feature,.feature2{color:#41A317;}
.changelog li.changed,.changed2{color:#E55B3C;}
.changelog li.fixed,.fixed2{color:#6A287E;}
.changelog li.removed,.removed2{color:#800517;}
.bug2,.merge2,.feature2,.changed2,.fixed2,.removed2{padding-top:5px;list-style-type:none;border-bottom:1px solid #DCDCDB;letter-spacing:-1px;font-size:18px;padding-bottom:3px;font-weight:normal !important;font-family:Helvetica, Georgia;}
